DROP DATABASE [QLSINHVIEN];

GO

CREATE DATABASE [QLSINHVIEN];

GO

USE [QLSINHVIEN];

GO

CREATE TABLE KhoaHoc(
	MaKhoaHoc varchar(10) CONSTRAINT PK_KhoaHoc PRIMARY KEY NOT NULL,
	NgayBatDau datetime NOT NULL,
	NgayKetThuc datetime NOT NULL
	);
GO
INSERT [dbo].[KhoaHoc] ([MaKhoaHoc], [NgayBatDau], [NgayKetThuc]) VALUES (N'15', CAST(N'2015-09-05' AS Date), CAST(N'2019-06-30' AS Date))
INSERT [dbo].[KhoaHoc] ([MaKhoaHoc], [NgayBatDau], [NgayKetThuc]) VALUES (N'16', CAST(N'2016-09-05' AS Date), CAST(N'2020-06-30' AS Date))
INSERT [dbo].[KhoaHoc] ([MaKhoaHoc], [NgayBatDau], [NgayKetThuc]) VALUES (N'17', CAST(N'2017-09-05' AS Date), CAST(N'2021-06-30' AS Date))


CREATE TABLE HeDaoTao(
	MaHe varchar(10) CONSTRAINT PK_HeDaoTao PRIMARY KEY NOT NULL,
	TenHe nvarchar(50) NOT NULL
	);
	
GO

INSERT INTO HeDaoTao VALUES ('CQ', N'Chính quy');
INSERT INTO HeDaoTao VALUES ('TC', N'Tại chức');
INSERT INTO HeDaoTao VALUES ('CD', N'Cao đẳng');

GO

CREATE TABLE Khoa(
	MaKhoa varchar(10) CONSTRAINT PK_Khoa PRIMARY KEY NOT NULL,
	Tenkhoa nvarchar(50) NOT NULL
	);
	
GO

INSERT INTO Khoa VALUES ('CNTT', N'Công nghệ thông tin');


GO

CREATE TABLE NganhDaoTao(
	MaNganh varchar(10) CONSTRAINT PK_NganhDaoTao PRIMARY KEY NOT NULL,
	TenNganh nvarchar(50) NOT NULL,
	MaKhoa varchar(10) CONSTRAINT FK_NganhDaoTao_Khoa FOREIGN KEY REFERENCES Khoa(MaKhoa)
	);
	
GO

INSERT INTO NganhDaoTao VALUES ('CNPM', N'Công nghệ phần mềm', 'CNTT');
INSERT INTO NganhDaoTao VALUES ('MTT', N'Mạng máy tính', 'CNTT');
INSERT INTO NganhDaoTao VALUES ('HTTT', N'Hệ thống thông tin', 'CNTT');


GO

CREATE TABLE Lop(
	MaLop varchar(10) CONSTRAINT PK_Lop PRIMARY KEY NOT NULL,
	TenLop nvarchar(50) NOT NULL,
	MaKhoaHoc varchar(10) CONSTRAINT FK_Lop_KhoaHoc FOREIGN KEY REFERENCES KhoaHoc(MaKhoaHoc) NOT NULL,
	MaHeDaoTao varchar(10) CONSTRAINT FK_Lop_HeDaoTao FOREIGN KEY REFERENCES HeDaoTao(MaHe) NOT NULL,
	MaNganh varchar(10) CONSTRAINT FK_Lop_NganhDaoTao FOREIGN KEY REFERENCES NganhDaoTao(MaNganh)NOT NULL
	);
	
GO
INSERT [dbo].[Lop] ([MaLop], [TenLop], [MaKhoaHoc], [MaHeDaoTao], [MaNganh]) VALUES (N'15CNPM1A', N'K15 CNPM 1A', N'15', N'CQ', N'CNPM')


CREATE TABLE SinhVien(
	MaSinhVien varchar(10) CONSTRAINT PK_SinhVien PRIMARY KEY NOT NULL,
	TenSinhVien nvarchar(50) NOT NULL,
	NgaySinh datetime NOT NULL,
	GioiTinh bit NOT NULL,
	Anh image NULL,
	Lop varchar(10) CONSTRAINT FK_SinhVien_Lop FOREIGN KEY REFERENCES Lop(MaLop)NOT NULL,
	DiaChi nvarchar(50) NOT NULL,
	ChinhSachUuTien bit NULL
	);

GO



CREATE TABLE HocKy(
	MaHocKy varchar(10) CONSTRAINT PK_HocKy PRIMARY KEY NOT NULL,
	TenHocKy nvarchar(50) NOT NULL
	);
	
GO

INSERT INTO HocKy VALUES ('151', N'Học kỳ 1 năm 2015');
INSERT INTO HocKy VALUES ('152', N'Học kỳ 2 năm 2015');
INSERT INTO HocKy VALUES ('161', N'Học kỳ 1 năm 2016');



GO

CREATE TABLE MonHoc(
	MaMonHoc varchar(10) CONSTRAINT PK_MonHoc PRIMARY KEY NOT NULL,
	TenMonHoc nvarchar(50) NOT NULL,
	SoTinChi int NOT NULL
	);
GO
INSERT [dbo].[MonHoc] ([MaMonHoc], [TenMonHoc], [SoTinChi]) VALUES (N'ADMP431879', N'Lập trình di động nâng cao', 3)
INSERT [dbo].[MonHoc] ([MaMonHoc], [TenMonHoc], [SoTinChi]) VALUES (N'ADNT330580', N'Mạng máy tính nâng cao', 3)
INSERT [dbo].[MonHoc] ([MaMonHoc], [TenMonHoc], [SoTinChi]) VALUES (N'ARIN330585', N'Trí tuệ nhân tạo', 3)
Go

CREATE TABLE BangDiem(
	Stt int IDENTITY(1,1) CONSTRAINT PK_BangDiem PRIMARY KEY NOT NULL,
	MaSinhVien varchar(10) CONSTRAINT FK_BangDiem_SinhVien FOREIGN KEY REFERENCES SinhVien(MaSinhVien) NOT NULL,
	MaMonHoc varchar(10) CONSTRAINT FK_BangDiem_MonHoc FOREIGN KEY REFERENCES MonHoc(MaMonHoc)NOT NULL,
	MaHocKy varchar(10) CONSTRAINT FK_BangDiem_HocKy FOREIGN KEY REFERENCES HocKy(MaHocKy)NOT NULL,
	DiemQuaTrinh float NOT NULL,
	DiemThi float NOT NULL
	);

GO
SET IDENTITY_INSERT [dbo].[BangDiem] ON 
INSERT [dbo].[BangDiem] ([Stt], [MaSinhVien], [MaMonHoc], [MaHocKy], [DiemQuaTrinh], [DiemThi]) VALUES (1, N'15CNPM002', N'GELA220405', N'151', 9.5, 8)
INSERT [dbo].[BangDiem] ([Stt], [MaSinhVien], [MaMonHoc], [MaHocKy], [DiemQuaTrinh], [DiemThi]) VALUES (2, N'15CNPM002', N'EHQT130137', N'151', 5, 5)
INSERT [dbo].[BangDiem] ([Stt], [MaSinhVien], [MaMonHoc], [MaHocKy], [DiemQuaTrinh], [DiemThi]) VALUES (3, N'15CNPM002', N'MATH142001', N'151', 7, 6.5)
SET IDENTITY_INSERT [dbo].[BangDiem] OFF




CREATE TABLE DoiDiem(
	Stt int IDENTITY(1,1) CONSTRAINT PK_DoiDiem PRIMARY KEY NOT NULL,
	DiemChu varchar(10) NULL,
	DiemSo float NULL,
	KetLuan nvarchar(10) NULL
	);
	
GO

INSERT INTO DoiDiem VALUES ('F', '0', N'Học lại');
INSERT INTO DoiDiem VALUES ('D', '1', N'Qua');
INSERT INTO DoiDiem VALUES ('C', '2', N'Qua');

GO

CREATE TABLE ThongTinDanhNhap(
	TaiKhoan varchar(30) CONSTRAINT PK_ThongTinDanhNhap PRIMARY KEY NOT NULL,
	MatKhau varchar(30) NOT NULL,
	Quyen nvarchar(30) NOT NULL,
	TrangThai bit
	);

GO

INSERT INTO ThongTinDanhNhap VALUES ('hoangphan','991403',N'Admin', 0);
INSERT INTO ThongTinDanhNhap VALUES ('bichngoc','991525',N'Quản Lý', 0);
Go
/*###=========================GIAO DIỆN DANH SÁCH SINH VIÊN===================###*/
--DANH SÁCH SINH VIÊN.
GO
CREATE PROC DanhSachSinhVien
AS
	SELECT MaSinhVien, TenSinhVien, NgaySinh, GioiTinh, Lop, DiaChi, ChinhSachUuTien FROM SinhVien ORDER BY TenSinhVien ASC;
--TÌM KIẾM SINH VIÊN.
GO
CREATE PROC TimKiemSinhVien
@TimKiem nvarchar(50)
AS
	SELECT MaSinhVien, TenSinhVien, NgaySinh, GioiTinh, Lop, DiaChi, ChinhSachUuTien 
	FROM SinhVien WHERE MaSinhVien LIKE '%'+@TimKiem+'%' OR TenSinhVien LIKE '%'+@TimKiem+'%' 
	OR Lop LIKE '%'+@TimKiem+'%';
--DANH SÁCH LƠP HỌC
GO
CREATE PROC DanhSachLop
AS
	SELECT * FROM Lop;
--THÊM SINH VIÊN MỚI.
GO
CREATE PROC ThemSinhVien
@MaSinhVien varchar(10),
@TenSinhVien nvarchar(50),
@NgaySinh datetime,
@GioiTinh bit,
@Anh image,
@Lop varchar(10),
@DiaChi nvarchar(50),
@ChinhSachUuTien bit
AS
	INSERT INTO SinhVien VALUES (@MaSinhVien, @TenSinhVien, @NgaySinh, @GioiTinh, @Anh, @Lop, 
	@DiaChi, @ChinhSachUuTien);
--SỬA THÔNG TIN SINH VIÊN.
GO
CREATE PROC SuaThongTinSinhVien
@MaSinhVien varchar(10),
@TenSinhVien nvarchar(50),
@NgaySinh datetime,
@GioiTinh bit,
@Lop varchar(10),
@DiaChi nvarchar(50),
@ChinhSachUuTien bit
AS
	UPDATE SinhVien SET TenSinhVien = @TenSinhVien, NgaySinh = @NgaySinh, 
	GioiTinh = @GioiTinh, Lop = @Lop, DiaChi = @DiaChi, ChinhSachUuTien = @ChinhSachUuTien 
	WHERE MaSinhVien = @MaSinhVien;	
--LẤY RA ẢNH CỦA MỘT SINH VIÊN.
GO
CREATE PROC LayAnhSinhVien
@TimKiem nvarchar(50)
AS
	SELECT Anh FROM SinhVien WHERE MaSinhVien = @TimKiem;
--XÓA SINH VIÊN.
GO
CREATE PROC XoaSinhVien
@Xoa varchar(10)
AS
	DELETE FROM SinhVien WHERE MaSinhVien = @Xoa;

/*###=========================GIAO DIỆN DANH SÁCH LỚP======================###*/
--LẤY RA DANH SÁCH VÀ THÔNG TIN LỚP HỌC.
GO
CREATE PROC DanhSach_ThongTin_Lop
AS
SELECT A.MaLop, A.TenLop, A.MaKhoaHoc, C.TenHe, B.TenNganh, D.Tenkhoa 
FROM Lop A, NganhDaoTao B, HeDaoTao C, Khoa D
WHERE A.MaNganh = B.MaNganh AND A.MaHeDaoTao = C.MaHe AND B.MaKhoa = D.MaKhoa 
ORDER BY Tenkhoa ASC, MaKhoaHoc DESC, MaLop ASC;
GO
--LẤY RA DANH SÁCH 14 HỌC KỲ GẦN NHẤT
CREATE PROC DanhSachHocKy
AS
	SELECT TOP 14 * FROM HocKy ORDER BY MaHocKy DESC;
GO
--DANH SÁCH MÔN HỌC
CREATE PROC DanhSachMonHoc
AS
	SELECT * FROM MonHoc ORDER BY TenMonHoc ASC;
GO
--TÌM KIẾM MÔN HỌC
CREATE PROC TimKiemMonHoc
@TenMonHoc nvarchar(50)
AS
	SELECT * FROM MonHoc WHERE TenMonHoc LIKE ''+@TenMonHoc+'%'  ORDER BY TenMonHoc ASC;
GO
--DANH SÁCH SINH VIÊN CỦA LỚP HOC.
CREATE PROC DanhSachSinhVienCuaLop
@MaLop varchar(10)
AS
	SELECT MaSinhVien, TenSinhVien FROM SinhVien WHERE Lop = @MaLop ORDER BY TenSinhVien ASC;
GO
--LẤY RA ĐIỂM TRONG 1 HỌC KỲ CỦA SINH VIÊN.
CREATE PROC LayDiemTheoKySinhVien
@MaSinhVien varchar(10),
@MaHocKy varchar(10) 
AS
	SELECT A.STT, A.MaHocKy, A.MaMonHoc, B.TenMonHoc, B.SoTinChi, A.DiemQuaTrinh, A.DiemThi, ROUND((A.DiemQuaTrinh*0.5 + A.DiemThi*0.5),1)[Diem Tong Ket],
	dbo.fnTinhDiemChu(A.DiemQuaTrinh,A.DiemThi) [Diem Chu], c.KetLuan
	FROM BangDiem A, MonHoc B, DoiDiem C 
	WHERE A.MaMonHoc = B.MaMonHoc AND C.DiemChu = dbo.fnTinhDiemChu(A.DiemQuaTrinh,A.DiemThi) 
	AND A.MaSinhVien = @MaSinhVien AND A.MaHocKy = @MaHocKy 
	ORDER BY MaMonHoc ASC, MaHocKy ASC; 
GO
--THÊM ĐIỂM QUÁ TRÌNH VÀ ĐIỂM THI VÀO BẢNG ĐIỂM
CREATE PROC ThemKetQua
@MaSinhVien varchar(10),
@MaMonHoc varchar(10),
@MaHocKy varchar(10),
@DiemQuaTrinh float,
@DiemThi float
AS
	INSERT INTO BangDiem VALUES (@MaSinhVien, @MaMonHoc, @MaHocKy, @DiemQuaTrinh, @DiemThi);
GO

--UPFATE ĐIỂM QUÁ TRÌNH VÀ ĐIỂM THI
CREATE PROC UpDateDiemQTVaDiemThi
@MaSinhVien varchar(10),
@MaMonHoc varchar(10),
@MaHocKy varchar(10),
@DiemQuaTrinh float,
@DiemThi float
AS
	UPDATE BangDiem SET DiemQuaTrinh = @DiemQuaTrinh, DiemThi = @DiemThi
	WHERE MaSinhVien = @MaSinhVien AND MaMonHoc = @MaMonHoc AND MaHocKy = @MaHocKy;
GO
--XÓA ĐIỂM CỦA MỘT SINH VIÊN.
CREATE PROC XoaDiemCuaSinhVien
@STT int
AS
	DELETE FROM BangDiem WHERE Stt = @STT;
GO
/*###=========================GIAO DIỆN QUẢN LÝ LỚP======================###*/
--LẤY BẢNG HỆ ĐÀO TẠO
GO
CREATE PROC DanhSachHeDaoTao
AS
	SELECT * FROM HeDaoTao;
GO
--LẤY BẢNG NGÀNH ĐÀO TẠO
CREATE PROC DanhSachNganhDaoTao
AS
	SELECT MaNganh, TenNganh FROM NganhDaoTao;
GO
--LẤY DANH SÁCH KHÓA HỌC
CREATE PROC DanhSachKhoaHoc
AS
	SELECT MaKhoaHoc FROM KhoaHoc ORDER BY MaKhoaHoc DESC;
GO

--THÊM LỚP HỌC MỚI.
CREATE PROC ThemLopHocMoi
@MaLop varchar(10),
@TenLop nvarchar(50),
@MaKhoaHoc varchar(10),
@MaHeDaoTao varchar(10),
@MaNganh varchar(10)
AS
	INSERT INTO Lop(MaLop, TenLop, MaKhoaHoc, MaHeDaoTao, MaNganh) 
	VALUES (@MaLop, @TenLop, @MaKhoaHoc, @MaHeDaoTao, @MaNganh);
GO
--SỬA THÔNG TIN LỚP HỌC
CREATE PROC SuaThongTinLopHoc
@MaLop varchar(10),
@TenLop nvarchar(50),
@MaKhoaHoc varchar(10),
@MaHeDaoTao varchar(10),
@MaNganh varchar(10)
AS
	UPDATE Lop SET TenLop = @TenLop, MaKhoaHoc = @MaKhoaHoc, MaHeDaoTao = @MaHeDaoTao, MaNganh = @MaNganh
	WHERE MaLop = @MaLop;
GO
--TÌM KIẾM NGÀNH ĐÀO TẠO.
CREATE PROC TimKiemNganhDaoTao
@TenNganh nvarchar(50)
AS
	SELECT * FROM NganhDaoTao WHERE TenNganh LIKE ''+@TenNganh+'%'  ORDER BY TenNganh ASC;
GO
--XÓA LỚP HỌC
CREATE PROC XoaLopHoc
@MaLop varchar(10)
AS
	DELETE FROM Lop WHERE MaLop = @MaLop;
GO
--TÌM KIẾM LỚP HỌC
CREATE PROC TimKiemLopHoc
@TimKiem varchar(10)
AS
SELECT A.MaLop, A.TenLop, A.MaKhoaHoc, C.TenHe, B.TenNganh, D.Tenkhoa 
FROM Lop A, NganhDaoTao B, HeDaoTao C, Khoa D
WHERE A.MaNganh = B.MaNganh AND A.MaHeDaoTao = C.MaHe AND B.MaKhoa = D.MaKhoa
AND (A.MaLop LIKE '%'+@TimKiem+'%' OR A.TenLop LIKE '%'+@TimKiem+'%' OR D.Tenkhoa LIKE '%'+@TimKiem+'%'
OR C.TenHe LIKE '%'+@TimKiem+'%' OR B.TenNganh LIKE '%'+@TimKiem+'%' OR A.MaKhoaHoc LIKE '%'+@TimKiem+'%')
ORDER BY Tenkhoa ASC, MaKhoaHoc DESC, MaLop ASC;
Go
/*###=========================GIAO DIÊN XEM KẾT QUẢ HỌC TẬP CỦA SINH VIÊN======================###*/
--LẤY RA TOÀN BỘ KẾT QUẢ HỌC TẬP CỦA SINH VIÊN.
CREATE PROC LayKetQuaHocTap
@MaSinhVien varchar(10)
AS
	SELECT A.STT, A.MaHocKy, A.MaMonHoc, B.TenMonHoc, B.SoTinChi, A.DiemQuaTrinh, A.DiemThi, ROUND((A.DiemQuaTrinh*0.5 + A.DiemThi*0.5),1)[Diem Tong Ket],
	dbo.fnTinhDiemChu(A.DiemQuaTrinh,A.DiemThi) [Diem Chu], c.KetLuan
	FROM BangDiem A, MonHoc B, DoiDiem C 
	WHERE A.MaMonHoc = B.MaMonHoc AND C.DiemChu = dbo.fnTinhDiemChu(A.DiemQuaTrinh,A.DiemThi)
	AND A.MaSinhVien = @MaSinhVien ORDER BY MaHocKy ASC, MaMonHoc ASC; 
GO

--TOÀN BỘ KẾT QUẢ HỌC TẬP - KHÔNG TÍNH MÔN TRƯỢT VÀ TRÙNG
CREATE PROC KetQuaTongKetDaoTao
@MaSinhVien varchar(10)
AS
	SELECT SUM(B.SoTinChi)[SO TIN CHI TICH LUY],
	   ROUND((SUM(B.SoTinChi*(A.DiemQuaTrinh*0.5 + A.DiemThi*0.5))/SUM(B.SoTinChi)),2)[DIEM TICH LUY HE 10],
	   ROUND((SUM(B.SoTinChi*C.DiemSo)/SUM(B.SoTinChi)),2)[DIEM TICH LUY HE 4]
	FROM (BangDiem A RIGHT JOIN 
		(SELECT B.MaMonHoc AS MA, MAX (B.DiemQuaTrinh*0.5 + B.DiemThi*0.5) AS DIEM FROM BangDiem B 
			WHERE MaSinhVien = @MaSinhVien 
			GROUP BY B.MaMonHoc) 
			AS BANGTAM
			ON A.MaMonHoc = MA AND (A.DiemQuaTrinh*0.5 + A.DiemThi*0.5) = DIEM), MonHoc B, DoiDiem C 
	WHERE A.MaMonHoc = B.MaMonHoc and C.DiemChu = dbo.fnTinhDiemChuHonF(A.DiemQuaTrinh,A.DiemThi) 
	AND (A.DiemQuaTrinh*0.5 + A.DiemThi*0.5) > 4.95 ; 
GO
--KẾT QUẢ TỔNG KẾT THEO KỲ - TÍNH MÔN TRƯỢT.
----SỐ TÍN CHỈ ĐẠT - KHÔNG TÍNH MÔN TRƯỢT.
CREATE PROC SoTinChiDat
@MaSinhVien varchar(10),
@MaHocKy varchar(10)
AS
	SELECT SUM(B.SoTinChi)[SO TIN CHI DAT]
	FROM BangDiem A , MonHoc B, DoiDiem C 
	WHERE A.MaMonHoc = B.MaMonHoc and C.DiemChu = dbo.fnTinhDiemChuHonF(A.DiemQuaTrinh,A.DiemThi)
	AND MaSinhVien = @MaSinhVien AND MaHocKy = @MaHocKy; 
GO
----KẾT QUẢ HỌC TẬP - TÍNH MÔN TRƯỢT.
CREATE PROC KetQuaTongKetHocKy
@MaSinhVien varchar(10),
@MaHocKy varchar(10)
AS
	SELECT
	   ROUND((SUM(B.SoTinChi*(A.DiemQuaTrinh*0.5 + A.DiemThi*0.5))/SUM(B.SoTinChi)),2)[DIEM TRUNG BINH HE 10],
	   ROUND((SUM(B.SoTinChi*C.DiemSo)/SUM(B.SoTinChi)),2)[DIEM TRUNG BINH HE 4]
	FROM BangDiem A , MonHoc B, DoiDiem C 
	WHERE A.MaMonHoc = B.MaMonHoc and C.DiemChu = dbo.fnTinhDiemChuHonF(A.DiemQuaTrinh,A.DiemThi)
	AND MaSinhVien = @MaSinhVien AND MaHocKy = @MaHocKy; 
GO


--/*###=========================GIAO DIỆN XÉT HỌC BỔNG======================###*/
--LẤY DANH SÁCH KHOA

CREATE PROC DanhSachKhoa
AS
	SELECT MaKhoa, Tenkhoa FROM Khoa ORDER BY Tenkhoa ASC; 
GO 
--DANH SÁCH SINH VIÊN TOÀN TRƯỜNG ĐẠT HỌC BỔNG TRONG HỌC KỲ GẦN NHẤT. 
CREATE PROC DanhSachSinhVienXetHocBong
@MaHocKy varchar(10)
AS
	SELECT
	A.MaSinhVien, D.TenSinhVien, E.TenLop, F.MaKhoaHoc, G.TenNganh, H.Tenkhoa,
	ROUND((SUM(B.SoTinChi*(A.DiemQuaTrinh*0.5 + A.DiemThi*0.5))/SUM(B.SoTinChi)),2)[DiemTrungBinhHocKyHe10]
	FROM BangDiem A , MonHoc B, DoiDiem C, SinhVien D, Lop E, KhoaHoc F, NganhDaoTao G, Khoa H
	WHERE A.MaMonHoc = B.MaMonHoc AND A.MaSinhVien = D.MaSinhVien AND D.Lop = E.MaLop
	AND E.MaKhoaHoc = F.MaKhoaHoc AND E.MaNganh = G.MaNganh AND G.MaKhoa = H.MaKhoa AND C.DiemChu = dbo.fnTinhDiemChu(A.DiemQuaTrinh,A.DiemThi)
	AND A.MaHocKy = @MaHocKy AND
	A.MaSinhVien
	NOT IN
	(SELECT
		M.MaSinhVien
	FROM BangDiem M, MonHoc B, DoiDiem C 
	WHERE M.MaMonHoc = B.MaMonHoc and C.DiemChu = 
	(CASE
		WHEN (A.DiemQuaTrinh*0.5 + A.DiemThi*0.5) < 4.95 THEN 'F'
	END) AND (M.DiemQuaTrinh*0.5 + M.DiemThi*0.5) < 4.95 AND M.MaHocKy = @MaHocKy)
	GROUP BY A.MaSinhVien, D.TenSinhVien, E.TenLop, F.MaKhoaHoc, G.TenNganh, H.Tenkhoa
	HAVING ROUND((SUM(B.SoTinChi*(A.DiemQuaTrinh*0.5 + A.DiemThi*0.5))/SUM(B.SoTinChi)),2) >= 7
	ORDER BY [DiemTrungBinhHocKyHe10] DESC; 
GO

--DANH SÁCH SINH VIÊN ĐẠT HỌC BỔNG CỦA KHOA.
CREATE PROC DanhSachSinhVienXetHocBong_Khoa
@MaHocKy varchar(10),
@TimKiem varchar(10)
AS
	SELECT
	A.MaSinhVien, D.TenSinhVien, E.TenLop, F.MaKhoaHoc, G.TenNganh, H.Tenkhoa,
	ROUND((SUM(B.SoTinChi*(A.DiemQuaTrinh*0.5 + A.DiemThi*0.5))/SUM(B.SoTinChi)),2)[DiemTrungBinhHocKyHe10]
	FROM BangDiem A , MonHoc B, DoiDiem C, SinhVien D, Lop E, KhoaHoc F, NganhDaoTao G, Khoa H
	WHERE A.MaMonHoc = B.MaMonHoc AND A.MaSinhVien = D.MaSinhVien AND D.Lop = E.MaLop
	AND E.MaKhoaHoc = F.MaKhoaHoc AND E.MaNganh = G.MaNganh AND G.MaKhoa = H.MaKhoa AND C.DiemChu = dbo.fnTinhDiemChu(A.DiemQuaTrinh,A.DiemThi)
	AND A.MaHocKy = @MaHocKy AND H.MaKhoa = @TimKiem AND
	A.MaSinhVien
	NOT IN
	(SELECT
		M.MaSinhVien
	FROM BangDiem M, MonHoc B, DoiDiem C 
	WHERE M.MaMonHoc = B.MaMonHoc and C.DiemChu = 
	(CASE
		WHEN (A.DiemQuaTrinh*0.5 + A.DiemThi*0.5) < 4.95 THEN 'F'
	END) AND (M.DiemQuaTrinh*0.5 + M.DiemThi*0.5) < 4.95 AND M.MaHocKy = @MaHocKy)
	GROUP BY A.MaSinhVien, D.TenSinhVien, E.TenLop, F.MaKhoaHoc, G.TenNganh, H.Tenkhoa
	HAVING ROUND((SUM(B.SoTinChi*(A.DiemQuaTrinh*0.5 + A.DiemThi*0.5))/SUM(B.SoTinChi)),2) >= 7
	ORDER BY [DiemTrungBinhHocKyHe10] DESC; 
GO

--DANH SÁCH SINH VIÊN ĐẠT HỌC BỔNG CỦA KHOA - TOP.
CREATE PROC DanhSachSinhVienXetHocBong_Khoa_Top
@MaHocKy varchar(10),
@TimKiem varchar(10),
@Top int
AS
	SELECT TOP (@Top) WITH TIES
	A.MaSinhVien, D.TenSinhVien, E.TenLop, F.MaKhoaHoc, G.TenNganh, H.Tenkhoa,
	ROUND((SUM(B.SoTinChi*(A.DiemQuaTrinh*0.5 + A.DiemThi*0.5))/SUM(B.SoTinChi)),2)[DiemTrungBinhHocKyHe10]
	FROM BangDiem A , MonHoc B, DoiDiem C, SinhVien D, Lop E, KhoaHoc F, NganhDaoTao G, Khoa H
	WHERE A.MaMonHoc = B.MaMonHoc AND A.MaSinhVien = D.MaSinhVien AND D.Lop = E.MaLop
	AND E.MaKhoaHoc = F.MaKhoaHoc AND E.MaNganh = G.MaNganh AND G.MaKhoa = H.MaKhoa AND C.DiemChu = dbo.fnTinhDiemChu(A.DiemQuaTrinh,A.DiemThi)
	AND A.MaHocKy = @MaHocKy AND H.MaKhoa = @TimKiem AND
	A.MaSinhVien
	NOT IN
	(SELECT
		M.MaSinhVien
	FROM BangDiem M, MonHoc B, DoiDiem C 
	WHERE M.MaMonHoc = B.MaMonHoc and C.DiemChu = 
	(CASE
		WHEN (A.DiemQuaTrinh*0.5 + A.DiemThi*0.5) < 4.95 THEN 'F'
	END) AND (M.DiemQuaTrinh*0.5 + M.DiemThi*0.5) <  4.95 AND M.MaHocKy = @MaHocKy)
	GROUP BY A.MaSinhVien, D.TenSinhVien, E.TenLop, F.MaKhoaHoc, G.TenNganh, H.Tenkhoa
	HAVING ROUND((SUM(B.SoTinChi*(A.DiemQuaTrinh*0.5 + A.DiemThi*0.5))/SUM(B.SoTinChi)),2) >= 7
	ORDER BY [DiemTrungBinhHocKyHe10] DESC; 
GO	

--/*###=========================GIAO DIỆN XÉT RA TRƯỜNG======================###*/
--DANH SÁCH SINH VIÊN HẾT THỜI GIAN HỌC TẬP - HOẶC ĐỦ ĐIỀU KIÊN RA TRƯỜNG.
CREATE PROC DanhSachSinhVienRaTruong
AS
	SELECT A.MaSinhVien, A.TenSinhVien, A.GioiTinh, B.TenLop, C.MaKhoaHoc, D.TenHe, E.TenNganh, F.Tenkhoa
	FROM SinhVien A, Lop B, KhoaHoc C, HeDaoTao D, NganhDaoTao E, Khoa F
	WHERE A.Lop = B.MaLop AND B.MaKhoaHoc = C.MaKhoaHoc AND B.MaHeDaoTao = D.MaHe
	AND B.MaNganh = E.MaNganh AND E.MaKhoa = F.MaKhoa
	AND ((DATEDIFF(DD, GETDATE(), C.NgayKetThuc) <=0)		--QUÁ HẠN 8 NĂM
	OR A.MaSinhVien IN							-- HOẶC SINH VIÊN CÓ SỐ TÍN CHỈ >= 125 VÀ CHƯA RƠI VÀO TRƯỜNG HỢP QUÁ HẠN 8 NĂM
	(SELECT A.MaSinhVien
	FROM (BangDiem A RIGHT JOIN 
		(SELECT B.MaMonHoc AS MA, MAX (B.DiemQuaTrinh*0.5 + B.DiemThi*0.5) AS DIEM , B.MaSinhVien FROM BangDiem B 
			WHERE MaSinhVien IN (SELECT MaSinhVien FROM SinhVien)
			GROUP BY B.MaMonHoc, B.MaSinhVien) 
			AS BANGTAM
			ON A.MaMonHoc = MA AND (A.DiemQuaTrinh*0.5 + A.DiemThi*0.5) = DIEM), MonHoc B, DoiDiem C 
	WHERE A.MaMonHoc = B.MaMonHoc and C.DiemChu = dbo.fnTinhDiemChuHonF(A.DiemQuaTrinh,A.DiemThi)
	AND (A.DiemQuaTrinh*0.5 + A.DiemThi*0.5) > 4.95 
	GROUP BY A.MaSinhVien
	HAVING SUM(B.SoTinChi) >= 125))
	ORDER BY A.TenSinhVien ASC; 
GO
--DANH SÁCH SINH VIÊN RA TRƯỜNG ĐƯỢC NHẬN BẰNG.
CREATE PROC DanhSachSinhVienRaTruongDuocNhanBang
AS
	SELECT A.MaSinhVien, A.TenSinhVien, A.GioiTinh, B.TenLop, C.MaKhoaHoc, D.TenHe, E.TenNganh, F.Tenkhoa
	FROM SinhVien A, Lop B, KhoaHoc C, HeDaoTao D, NganhDaoTao E, Khoa F
	WHERE A.Lop = B.MaLop AND B.MaKhoaHoc = C.MaKhoaHoc AND B.MaHeDaoTao = D.MaHe
	AND B.MaNganh = E.MaNganh AND E.MaKhoa = F.MaKhoa
	AND (DATEDIFF(DD, GETDATE(), C.NgayKetThuc) > 0)
	AND A.MaSinhVien IN
	(SELECT A.MaSinhVien
	FROM (BangDiem A RIGHT JOIN 
		(SELECT B.MaMonHoc AS MA, MAX (B.DiemQuaTrinh*0.5 + B.DiemThi*0.5) AS DIEM , B.MaSinhVien FROM BangDiem B 
			WHERE MaSinhVien IN (SELECT MaSinhVien FROM SinhVien)
			GROUP BY B.MaMonHoc, B.MaSinhVien) 
			AS BANGTAM
			ON A.MaMonHoc = MA AND (A.DiemQuaTrinh*0.5 + A.DiemThi*0.5) = DIEM), MonHoc B, DoiDiem C 
	WHERE A.MaMonHoc = B.MaMonHoc and C.DiemChu = dbo.fnTinhDiemChuHonF(A.DiemQuaTrinh,A.DiemThi)
	AND (A.DiemQuaTrinh*0.5 + A.DiemThi*0.5) > 4.95 
	GROUP BY A.MaSinhVien
	HAVING SUM(B.SoTinChi) >= 125)
	ORDER BY A.TenSinhVien ASC; 
GO
--DANH SÁCH SINH VIÊN RA TRƯỜNG KHÔNG ĐƯỢC NHẬN BẰNG.
CREATE PROC DanhSachSinhVienRaTruongKhongDuocNhanBang
AS
	SELECT A.MaSinhVien, A.TenSinhVien, A.GioiTinh, B.TenLop, C.MaKhoaHoc, D.TenHe, E.TenNganh, F.Tenkhoa
	FROM SinhVien A, Lop B, KhoaHoc C, HeDaoTao D, NganhDaoTao E, Khoa F
	WHERE A.Lop = B.MaLop AND B.MaKhoaHoc = C.MaKhoaHoc AND B.MaHeDaoTao = D.MaHe
	AND B.MaNganh = E.MaNganh AND E.MaKhoa = F.MaKhoa
	AND DATEDIFF(DD, GETDATE(), C.NgayKetThuc) <=0
	AND A.MaSinhVien NOT IN
	(SELECT A.MaSinhVien
	FROM (BangDiem A RIGHT JOIN 
		(SELECT B.MaMonHoc AS MA, MAX (B.DiemQuaTrinh*0.5 + B.DiemThi*0.5) AS DIEM , B.MaSinhVien FROM BangDiem B 
			WHERE MaSinhVien IN (SELECT MaSinhVien FROM SinhVien)
			GROUP BY B.MaMonHoc, B.MaSinhVien) 
			AS BANGTAM
			ON A.MaMonHoc = MA AND (A.DiemQuaTrinh*0.5 + A.DiemThi*0.5) = DIEM), MonHoc B, DoiDiem C 
	WHERE A.MaMonHoc = B.MaMonHoc and C.DiemChu = dbo.fnTinhDiemChuHonF(A.DiemQuaTrinh,A.DiemThi)
	AND (A.DiemQuaTrinh*0.5 + A.DiemThi*0.5) > 4.95 
	GROUP BY A.MaSinhVien
	HAVING SUM(B.SoTinChi) >= 125)
	ORDER BY A.TenSinhVien ASC; 
GO

--/*###=========================GIAO DIỆN KHÓA HỌC======================###*/
--LẤY RA DANH SÁCH CÁC KHÓA HỌC TRONG TRƯỜNG
CREATE PROC DanhSach_ThongTin_KhoaHoc
AS
	SELECT MaKhoaHoc, NgayBatDau,NgayKetThuc 
	FROM KhoaHoc ORDER BY MaKhoaHoc DESC;
--THÊM KHÓA HỌC MỚI
GO
CREATE PROC ThemKhoaHoc
@MaKhoaHoc varchar(10),
@NgayBatDau datetime,
@NgayKetThuc datetime
AS
	INSERT INTO KhoaHoc VALUES (@MaKhoaHoc, @NgayBatDau, @NgayKetThuc); 
--CHỈNH SỬA KHÓA HỌC
GO
CREATE PROC ChinhSuaKhoaHoc
@MaKhoaHoc varchar(10),
@NgayBatDau datetime,
@NgayKetThuc datetime
AS
	UPDATE KhoaHoc SET NgayBatDau = @NgayBatDau, NgayKetThuc = @NgayKetThuc WHERE MaKhoaHoc = @MaKhoaHoc;
--XÓA KHÓA HỌC
GO
CREATE PROC XoaKhoaHoc
@MaKhoaHoc varchar(10)
AS
	DELETE FROM KhoaHoc WHERE MaKhoaHoc = @MaKhoaHoc;
--TÌM KIẾM KHÓA HỌC
GO
CREATE PROC TimKiemKhoaHoc
@MaKhoaHoc varchar(10)
AS
	SELECT * FROM KhoaHoc WHERE MaKhoaHoc LIKE '%'+@MaKhoaHoc+'%' ORDER BY MaKhoaHoc DESC;

--/*###=========================GIAO DIỆN MÔN HỌC======================###*/
--LẤY RA DANH SÁCH CÁC MÔN HỌC TRONG TRƯỜNG
GO
CREATE PROC DanhSachMonHocToanTruong
AS
	SELECT MaMonHoc, TenMonHoc, SoTinChi FROM MonHoc ORDER BY MaMonHoc ASC;
--XÓA MÔN HỌC THEO MÃ MÔN
GO
CREATE PROC XoaMonHoc
@MaMonHoc varchar(10)
AS
	DELETE FROM MonHoc WHERE MaMonHoc = @MaMonHoc;
--THÊM MÔN HỌC MỚI
GO
CREATE PROC ThemMonHoc
@MaMonHoc varchar(10),
@TenMonHoc nvarchar(50),
@SoTinChi int
AS
	INSERT INTO MonHoc(MaMonHoc, TenMonHoc, SoTinChi) VALUES (@MaMonHoc, @TenMonHoc, @SoTinChi);
--UPDATE MÔN HOC
GO
CREATE PROC SuaMonHoc
@MaMonHoc varchar(10),
@TenMonHoc nvarchar(50),
@SoTinChi int
AS
	UPDATE MonHoc SET TenMonHoc = @TenMonHoc, SoTinChi = @SoTinChi WHERE MaMonHoc = @MaMonHoc;
--TÌM KIẾM MÔN HỌC
GO
CREATE PROC TimMonHoc
@TimKiem nvarchar(50)
AS
	SELECT MaMonHoc, TenMonHoc, SoTinChi 
	FROM MonHoc WHERE MaMonHoc LIKE '%'+@TimKiem+'%' OR TenMonHoc LIKE '%'+@TimKiem+'%'
	OR SoTinChi LIKE '%'+@TimKiem+'%' ORDER BY MaMonHoc ASC;
--/*###=========================GIAO DIỆN HỌC KỲ======================###*/
--LẤY RA DANH SÁCH HỌC KỲ
GO
CREATE PROC DanhSachThongTinHocKy
AS
	SELECT MaHocKy, TenHocKy FROM HocKy ORDER BY MaHocKy DESC;
--XÓA HỌC KỲ
GO
CREATE PROC XoaHocKy
@MaHocKy varchar(10)
AS
	DELETE FROM HocKy WHERE MaHocKy = @MaHocKy;
--THÊM HỌC KỲ
GO
CREATE PROC ThemHocKy
@MaHocKy varchar(10),
@TenHocKy nvarchar(50)
AS
	INSERT INTO HocKy(MaHocKy, TenHocKy) VALUES (@MaHocKy, @TenHocKy);
--SỬA HỌC KỲ
GO
CREATE PROC SuaHocKy
@MaHocKy varchar(10),
@TenHocKy nvarchar(50)
AS
	UPDATE HocKy SET TenHocKy = @TenHocKy WHERE MaHocKy = @MaHocKy;
--TÌM KIẾM HỌC KỲ.
GO
CREATE PROC TimKiemHocKy
@TimKiem nvarchar(50)
AS
	SELECT MaHocKy, TenHocKy FROM HocKy
	WHERE MaHocKy LIKE '%'+@TimKiem+'%' OR TenHocKy LIKE '%'+@TimKiem+'%'
	ORDER BY MaHocKy DESC;
--/*###=========================GIAO DIỆN HỆ ĐÀO TẠO======================###*/
--XÓA HỆ ĐÀO TẠO
GO
CREATE PROC XoaHeDaoTao
@MaHe varchar(10)
AS
	DELETE FROM HeDaoTao WHERE MaHe = @MaHe;
--THÊM HỆ ĐÀO TẠO
GO
CREATE PROC ThemHeDaoTao
@MaHe varchar(10),
@TenHe nvarchar(50)
AS
	INSERT INTO HeDaoTao(MaHe, TenHe) VALUES (@MaHe, @TenHe);
--SỬA HỆ ĐÀO TẠO
GO
CREATE PROC SuaHeDaoTao
@MaHe varchar(10),
@TenHe nvarchar(50)
AS
	UPDATE HeDaoTao SET TenHe = @TenHe WHERE MaHe = @MaHe;
--TÌM KIẾM HỆ ĐÀO TẠO
GO
CREATE PROC TimKiemHeDaoTao
@TimKiem nvarchar(50)
AS
	SELECT MaHe, TenHe FROM HeDaoTao WHERE MaHe LIKE '%'+@TimKiem+'%' OR TenHe LIKE '%'+@TimKiem+'%';
--/*###=========================GIAO DIỆN KHOA======================###*/
--XÓA KHOA
GO
CREATE PROC XoaKhoa
@MaKhoa varchar(10)
AS
	DELETE FROM Khoa WHERE MaKhoa = @MaKhoa;
--THÊM KHOA
GO
CREATE PROC ThemKhoa
@MaKhoa varchar(10),
@TenKhoa nvarchar(50)
AS
	INSERT INTO Khoa(MaKhoa, Tenkhoa) VALUES (@MaKhoa, @TenKhoa);
--SỬA KHOA
GO
CREATE PROC SuaKhoa
@MaKhoa varchar(10),
@TenKhoa nvarchar(50)
AS
	UPDATE Khoa SET Tenkhoa = @TenKhoa WHERE MaKhoa = @MaKhoa;
--TÌM KIẾM KHOA
GO
CREATE PROC TimKiemKhoa
@TimKiem nvarchar(50)
AS
	SELECT MaKhoa, Tenkhoa FROM Khoa WHERE MaKhoa LIKE '%'+@TimKiem+'%' OR Tenkhoa LIKE '%'+@TimKiem+'%';
--/*###=========================GIAO DIỆN NGÀNH ĐÀO TẠO======================###*/
--DANH SÁCH NGÀNH ĐÀO TẠO
GO
CREATE PROC DanhSachThongTinNganhDaoTao
AS
	SELECT A.MaNganh, A.TenNganh, B.Tenkhoa FROM NganhDaoTao A, Khoa B
	WHERE A.MaKhoa = B.MaKhoa
	ORDER BY TenNganh ASC;
--XÓA NGÀNH ĐÀO TẠO
GO
CREATE PROC XoaNganhDaoTao
@MaNganh varchar(10)
AS
	DELETE FROM NganhDaoTao WHERE MaNganh = @MaNganh;
--THÊM NGÀNH ĐÀO TẠO
GO
CREATE PROC ThemNganhDaoTao
@MaNganh varchar(10),
@TenNganh nvarchar(50),
@MaKhoa varchar(10)
AS
	INSERT INTO NganhDaoTao(MaNganh, TenNganh, MaKhoa) VALUES (@MaNganh, @TenNganh, @MaKhoa);
--SỬA NGÀNH ĐÀO TẠO.
GO
CREATE PROC SuaNganhDaoTao
@MaNganh varchar(10),
@TenNganh nvarchar(50),
@MaKhoa varchar(10)
AS
	UPDATE NganhDaoTao SET TenNganh = @TenNganh, MaKhoa = @MaKhoa
	WHERE MaNganh = @MaNganh;
--TÌM KIẾM NGÀNH ĐÀO TẠO.
GO
CREATE PROC TimKiemThongTinNganhDaoTao
@TimKiem nvarchar(50)
AS
	SELECT A.MaNganh, A.TenNganh, B.Tenkhoa FROM NganhDaoTao A, Khoa B
	WHERE A.MaKhoa = B.MaKhoa AND (A.TenNganh LIKE '%'+@TimKiem+'%' OR A.MaNganh LIKE '%'+@TimKiem+'%' 
	OR A.MaKhoa LIKE '%'+@TimKiem+'%')
	ORDER BY TenNganh ASC;
GO


--/*###=========================GIAO DIỆN ĐĂNG NHẬP======================###*/
--KIỂM TRA ĐĂNG NHẬP.
CREATE PROC KiemTraDangNhap
@TaiKhoan varchar(30),
@MatKhau varchar(30)
AS
	SELECT Quyen FROM ThongTinDanhNhap WHERE TaiKhoan = @TaiKhoan AND MatKhau = @MatKhau;
GO

--UPDATE TRẠNG THÁI.
CREATE PROC UpDateTrangThai
@TaiKhoan varchar(30),
@TrangThai bit
AS
	UPDATE ThongTinDanhNhap SET TrangThai = @TrangThai
	WHERE TaiKhoan = @TaiKhoan;
GO

--UPDATE MẬT KHẨU
CREATE PROC UpDateMatKhau
@TaiKhoan varchar(30),
@MatKhau varchar(30)
AS
	UPDATE ThongTinDanhNhap SET MatKhau = @MatKhau
	WHERE TaiKhoan = @TaiKhoan;
GO

--THÊM TÀI KHOẢN
CREATE PROC ThemTaiKhoan
@TaiKhoan varchar(30),
@Quyen nvarchar(30)
AS
	INSERT INTO ThongTinDanhNhap(TaiKhoan, MatKhau, Quyen, TrangThai) 
	VALUES (@TaiKhoan, 'DHXD', @Quyen, '0');
GO

--CHỈNH SỬA QUYỀN
CREATE PROC ChinhSuaQuyen
@TaiKhoan varchar(30),
@Quyen nvarchar(30)
AS
	UPDATE ThongTinDanhNhap SET Quyen = @Quyen
	WHERE TaiKhoan = @TaiKhoan;
GO

--XÓA TÀI KHOẢN
CREATE PROC XoaTaiKhoan
@TaiKhoan varchar(30)
AS
	DELETE FROM ThongTinDanhNhap WHERE TaiKhoan = @TaiKhoan;
GO

--TÌM KIẾM TÀI KHOẢN
CREATE PROC TimKiemTaiKhoan
@TimKiem nvarchar(30)
AS
	SELECT TaiKhoan, Quyen, TrangThai FROM ThongTinDanhNhap
	WHERE TaiKhoan LIKE '%'+@TimKiem+'%' OR Quyen LIKE '%'+@TimKiem+'%' OR TrangThai LIKE '%'+@TimKiem+'%'
	ORDER BY TaiKhoan ASC;
GO

--DANH SÁCH TÀI KHOẢN
CREATE PROC DanhSachTaiKhoan
AS
	SELECT TaiKhoan, Quyen, TrangThai FROM ThongTinDanhNhap ORDER BY TaiKhoan ASC;
GO

--DANH SÁCH QUYỀN
CREATE PROC DanhSachQuyen
AS
	SELECT DISTINCT Quyen FROM ThongTinDanhNhap ORDER BY Quyen ASC;
GO


/*================================================------------VIEW---------------======================================================*/

--Tạo 1 bảng view chỉ chứa mã lớp và tên lớp
--Mục đích: đưa dữ liệu tối thiểu nhất có thể lên thanh combobox trên giao diện quản lý. 
---Để người dùng có thể chọn tên thay cho mã , thuận tiện hơn trong việc nhập liệu
CREATE VIEW viewDanhSachTenLop
AS
	SELECT MaLop,TenLop FROM Lop
GO
-----------------------------------------------------------------------------------------------
CREATE VIEW viewDanhSachTenKhoahoc
AS
	SELECT MaKhoaHoc FROM KhoaHoc
GO
-----------------------------------------------------------------------------------------------
CREATE VIEW viewDanhSachTenNganhDaoTao
AS
	SELECT MaNganh, TenNganh FROM NganhDaoTao; 
GO
-----------------------------------------------------------------------------------------------
CREATE VIEW viewDanhSachTenHeDaoTao
AS
	SELECT MaHe, TenHe FROM HeDaoTao; 
GO

/*================================================------------TRIGGER---------------======================================================*/


--Tạo 1 bảng phụ có tên là BangDiem_DeletedTime để lưu thông tin mã điểm và thời gian lúc người dùng xóa điểm của sinh viên
create table BangDiem_DeletedTime(
	Stt int null,
	Tgianxoa datetime null,
)
go

create trigger trg_BangDiem_delete on BangDiem
after delete
as
DECLARE	@stt int,
		@tgianxoa datetime	
select @stt=Stt from deleted;
select @tgianxoa=GETDATE();
begin
	insert into BangDiem_DeletedTime(Stt,Tgianxoa)
	values(@stt,@tgianxoa)
end
go
--Tạo 1 bảng phụ có tên là BangDiem_Updated để lưu thông tin điểm và thời gian lúc người dùng sửa điểm của sinh viên
create table BangDiem_Updated(
	Stt int null,
	Masv varchar(10) null,
	Mamh varchar(10) null,
	Mahk varchar(10) null,
	DiemQTCu float null,
	DiemThiCu float null,
	Tgiansua datetime null,
)
go

create trigger trg_BangDiem_update on BangDiem
after update
as
DECLARE	@stt int,
		@masv varchar(10),
		@mamh varchar(10),
		@mahk varchar(10),
		@diemqtcu float,
		@diemthicu float,
		@tgiansua datetime	
select @stt=Stt,@masv=MaSinhVien,@mamh=MaMonHoc,@mahk=MaMonHoc,@diemqtcu=DiemQuaTrinh,@diemthicu=DiemThi
from deleted;
select @tgiansua=GETDATE();
begin
	insert into BangDiem_Updated(Stt,Masv,Mamh,Mahk,DiemQTCu,DiemThiCu,Tgiansua)
	values(@stt,@masv,@mamh,@mahk,@diemqtcu,@diemthicu,@tgiansua)
end
go

--Tạo 1 bảng phụ có tên là SinhVien_Deleted để lưu thông tin Sinh viên và thời gian lúc người dùng xóa thông tin của sinh viên
create table SinhVien_Deleted(
	Masv varchar(10) null,
	Tensv nvarchar(50) null,
	Ngaysinh date null,
	Gioitinh bit null,
	Malop varchar(10) null,
	Diachi  nvarchar(50) null,
	Chinhsachuutien bit null,
	Tgianxoa datetime null,
)
go

create trigger trg_SinhVien_deleted on SinhVien
after delete
as
DECLARE	@masv varchar(10),
		@tensv nvarchar(50),
		@ngaysinh date,
		@gioitinh bit,
		@malop varchar(10),
		@diachi  nvarchar(50),
		@chinhsachuutien bit,
		@tgianxoa datetime
select @masv=MaSinhVien,@tensv=TenSinhVien,@ngaysinh=NgaySinh,@gioitinh=GioiTinh,@malop=Lop,@diachi=DiaChi,@chinhsachuutien=ChinhSachUuTien
from deleted;
select @tgianxoa=GETDATE();
begin
	insert into SinhVien_Deleted(Masv,Tensv,Ngaysinh,Gioitinh,Malop,Diachi,Chinhsachuutien,Tgianxoa)
	values(@masv,@tensv,@ngaysinh,@gioitinh,@malop,@diachi,@chinhsachuutien,@tgianxoa)
end
go

/*================================================------------FUNCTION---------------======================================================*/
--Hàm tính giá trị điểm chữ
--hàm này sẽ được dùng trong các PROC về tính điểm để tiết kiệm thời gian gõ mã và làm code gắn gọn hơn
create function fnTinhDiemChu(@DiemQuaTrinh float,@DiemThi float)
returns varchar(10) 
AS
begin
	return (CASE
		WHEN (@DiemQuaTrinh*0.5 + @DiemThi*0.5) < 4.95 THEN 'F'
		WHEN 4.95 <= (@DiemQuaTrinh*0.5 + @DiemThi*0.5) AND (@DiemQuaTrinh*0.5 + @DiemThi*0.5) < 5.45 THEN 'D'
		WHEN 5.45 <= (@DiemQuaTrinh*0.5 + @DiemThi*0.5) AND (@DiemQuaTrinh*0.5 + @DiemThi*0.5) < 6.95 THEN 'C'
		WHEN 6.95 <= (@DiemQuaTrinh*0.5 + @DiemThi*0.5) AND (@DiemQuaTrinh*0.5 + @DiemThi*0.5) < 8.45 THEN 'B'
		WHEN (@DiemQuaTrinh*0.5 + @DiemThi*0.5) >= 8.45 THEN 'A'
	END)
end
go

create function fnTinhDiemChuHonF(@DiemQuaTrinh float,@DiemThi float)
returns varchar(10) AS
begin
	return (CASE
		WHEN 4.95 <= (@DiemQuaTrinh*0.5 + @DiemThi*0.5) AND (@DiemQuaTrinh*0.5 + @DiemThi*0.5) < 5.45 THEN 'D'
		WHEN 5.45 <= (@DiemQuaTrinh*0.5 + @DiemThi*0.5) AND (@DiemQuaTrinh*0.5 + @DiemThi*0.5) < 6.95 THEN 'C'
		WHEN 6.95 <= (@DiemQuaTrinh*0.5 + @DiemThi*0.5) AND (@DiemQuaTrinh*0.5 + @DiemThi*0.5) < 8.45 THEN 'B'
		WHEN (@DiemQuaTrinh*0.5 + @DiemThi*0.5) >= 8.45 THEN 'A'
	END)
end
go

/*================================================------------TRANSACTION---------------======================================================*/
ALTER PROC [dbo].[XoaHeDaoTao]
@MaHe varchar(10)
AS
begin
	begin try
		begin tran
			DELETE FROM HeDaoTao WHERE MaHe = @MaHe;
		commit tran
	end try
	begin catch
		rollback tran;
		throw 5000,'Khong The Xoa He Dao Tao',1;
	end catch
end
go

--XÓA ĐIỂM CỦA MỘT SINH VIÊN.
--Nếu có lỗi xảy ra thì chuyển sang catch và rollback giá trị
ALTER PROC [dbo].[XoaDiemCuaSinhVien]
@STT int
AS
begin
	begin try
		begin tran
			DELETE FROM BangDiem WHERE Stt = @STT; 
		commit tran
	end try
	begin catch
		rollback tran;
		throw 5000,'Khong The Xoa Diem',1;
	end catch
end
go

--SỬA THÔNG TIN SINH VIÊN.
--Nếu xảy ra lỗi thì chuyển sang catch và rollback
ALTER PROC [dbo].[SuaThongTinSinhVien]
@MaSinhVien varchar(10),
@TenSinhVien nvarchar(50),
@NgaySinh datetime,
@GioiTinh bit,
@Lop varchar(10),
@DiaChi nvarchar(50),
@ChinhSachUuTien bit
AS
begin
	begin try
		begin tran
			UPDATE SinhVien SET TenSinhVien = @TenSinhVien, NgaySinh = @NgaySinh, 
			GioiTinh = @GioiTinh, Lop = @Lop, DiaChi = @DiaChi, ChinhSachUuTien = @ChinhSachUuTien 
			WHERE MaSinhVien = @MaSinhVien;  
		commit tran
	end try
	begin catch
		rollback tran;
		throw 5000,'Khong The Sua Thông Tin Sinh Vien',1;
	end catch
end
GO

/*================================================------------INDEX---------------======================================================*/
--Đặt index có tên MH tại cột tên hệ của bảng Môn Học
-->Tăng tốc độ tìm kiếm theo tên
CREATE INDEX MH
ON MonHoc (TenMonHoc);

--Một số index khác
CREATE INDEX KDT
ON Khoa (TenKHoa);

CREATE INDEX HDT
ON HeDaoTao (TenHe);

CREATE INDEX DS
ON BangDiem (Stt);

CREATE INDEX SV
ON SinhVien (Lop);